In [20]:
import pandas as pd
import censusdata
import time

In [2]:
r1 = 16001
r2 = 16066
ziplist = list(range(r1, r2+1))
zips = ','.join(str(e) for e in ziplist)

In [3]:
bczips = censusdata.download('acs5', 2019,
                             censusdata.censusgeo([('state', '42'), ('zip code tabulation area', zips)]),
                             ['B01001_001E'])

In [4]:
bczips.index = bczips.index.astype('str')
bczips.index = bczips.index.str[:11]
bczips.index = bczips.index.str[-5:]
bczips.head()

       B01001_001E
16035          146
16040         1023
16061         2556
16048          142
16002        15257

In [5]:
bczips = bczips.reset_index()
bczips.head()

   index  B01001_001E
0  16035          146
1  16040         1023
2  16061         2556
3  16048          142
4  16002        15257

In [8]:
blankZips = [pd.Series([16003, None], index=bczips.columns),
             pd.Series([16018, None], index=bczips.columns),
             pd.Series([16039, None], index=bczips.columns),
             pd.Series([16058, None], index=bczips.columns)]
bczips = bczips.append(blankZips, ignore_index = True)
#bczips.index = bczips.index + 4
#bczips.loc[35] = [16003, None]
#bczips.loc[36] = [16018, None]
#bczips.loc[37] = [16039, None]
#bczips.loc[38] = [16058, None]
bczips = bczips.set_index('index')
bczips.index = bczips.index.astype('int')

       B01001_001E
index
16035        146.0
16040       1023.0
16061       2556.0
16048        142.0
16002      15257.0

In [16]:
bczips = bczips.sort_index()
bczips = bczips.reset_index(drop = True)

In [28]:
datestr = time.strftime("%Y%m%d")
zip_cases_name = (datestr + "_zip_cases.csv")
zip_cases = pd.read_csv(zip_cases_name)
zip_cases['Population'] = bczips['B01001_001E']
zip_cases.head()
zip_cases.to_csv(zip_cases_name, index=False)