In [2]:
import pandas as pd
import numpy as np

In [5]:
data = pd.read_csv("cases_2021.csv", usecols=['age_group', 'sex', 'symptom_status', 'hosp_yn', 'icu_yn', 'death_yn'])
data.head()

        age_group     sex symptom_status  hosp_yn   icu_yn death_yn
0    0 - 17 years     NaN        Unknown  Unknown  Unknown      NaN
1  18 to 49 years  Female    Symptomatic       No       No      NaN
2  50 to 64 years  Female        Unknown  Unknown  Unknown      NaN
3  50 to 64 years  Female    Symptomatic       No       No      NaN
4  50 to 64 years  Female    Symptomatic       No       No      NaN

In [6]:
male = []
for row in data['sex']:
    if row == "Male":
        male.append(1)
    elif row == "Female":
        male.append(0)
    else:
        male.append(None)
symp = []
for row in data['symptom_status']:
    if row == "Symptomatic":
        symp.append(1)
    else:
        symp.append(0)
hosp = []
for row in data['hosp_yn']:
    if row == "Yes":
        hosp.append(1)
    elif row == "No":
        hosp.append(0)
    else:
        hosp.append(None)
icu = []
for row in data['icu_yn']:
    if row == "Yes":
        icu.append(1)
    elif row == "No":
        icu.append(0)
    else:
        icu.append(None)
death = []
for row in data['death_yn']:
    if row == "Yes":
        death.append(1)
    elif row == "No":
        death.append(0)
    else:
        death.append(None)

In [7]:
data['male'] = male
data['symp'] = symp
data['hosp'] = hosp
data['icu'] = icu
data['death'] = death

In [15]:
cols_to_keep = ['male', 'symp', 'hosp', 'icu', 'death']
data.loc[:, cols_to_keep].to_csv('numeric_cases_21.csv')